#header {
  background-image: url(images/homeBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  margin: 0px;
}
#nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 1vw;
}
#nav div {
  display: flex;
  width: fit-content;
}
#nav div div {
  width: fit-content;
}
#logo {
  height: 40px;
}
#logobtn {
  display: flex;
  margin-left: 1vw;
  background-color: #31be73;
  width: 150px;
  height: 40px;
  align-items: center;
  text-align: center;
  padding: 1vw;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 17px;
}
#inputdiv {
  align-items: center;
}
#inputdiv input {
  width: 35vw;
  background-color: #454469;
  border: none;
  height: 40px;
  color: white;
  box-sizing: border-box;
  padding: 2px 2px 2px 10px;
  font-size: 17px;
}
#inputdiv button {
  background-color: #454469;
  border: none;
  color: white;
  box-sizing: border-box;
  width: 45px;
  padding: 6px;
}
#navLoginDiv {
  /* color: white; */
  display: flex;
  justify-content: space-evenly;
}
#navLoginDiv span {
  color: white;
  /* margin: 0px 10px 0px 10px; */
  align-items: center;
}

.navAdbtn {
  background-color: #6432f9;
  height: 40px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  width: 100px;
  margin-left: 20px;
}
.navloginbtn {
  background-color: #1bb76e;
  height: 40px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  width: 100px;
  margin-left: 20px;
}
.navSignin {
  height: 40px;
  color: white;
  font-weight: bold;
  align-items: center;
  border: none;
  background-color: transparent;
  margin-left: 20px;
}
.offerbtn {
  background-color: transparent;
  border: none;
}
#navh2 {
  text-align: center;
  color: white;
}
#navh2 h1 {
  color: white;
  width: fit-content;
  margin: auto;
}
#tagDivTag {
  display: flex;
  justify-content: space-between;
  color: white;
}

#tagContainer {
  display: flex;
  justify-content: space-between;
}
#tag1 div .tagname,
#tag2 div .tagname,
#tag3 div .tagname,
#tag4 div .tagname,
#tag5 div .tagname,
#tag6 div .tagname,
#tag7 div .tagname,
#tag8 div .tagname {
  color: white;
}

#tag1 {
  width: 200px;
  height: 120px;
  background-color: #1bb76e;
  text-align: center;
}
#tag2,
#tag3,
#tag4,
#tag5,
#tag6,
#tag7,
#tag8 {
  width: 100px;
  height: 120px;
  background-color: #1bb76e;
  text-align: center;
}

#tag1 div img,
#tag2 div img,
#tag3 div img,
#tag4 div img,
#tag5 div img,
#tag6 div img,
#tag7 div img,
#tag8 div img {
  width: 100%;
  height: 70px;
  background-color: #1bb76e;
}
#tag1 div p,
#tag2 div p,
#tag3 div p,
#tag4 div p,
#tag5 div p,
#tag6 div p,
#tag7 div p,
#tag8 div p {
  margin: 0px;
}
#secondOp {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

#secondOp div {
  display: flex;
  align-items: center;
  color: white;
}

#secondOp div span {
  vertical-align: bottom;
  /* font-size: 38px; */
  color: white;
}
#secondOp div button {
  background-color: transparent;
  border: none;
}

#secondOp div .arrow_drop_down {
  font-size: 38px;
}

/* second nav ================================*/

#secondNavContainer {
  width: 100%;
  display: none;
  align-items: center;

  background-image: url(images/homeBackground.png);
  position: fixed;
  top: 0;
  left: 0;
  /* display: none; */
}

#secondNavImg {
  margin-left: 5%;
}

#secondNav {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#secondNav div {
  display: flex;
  align-items: center;
  color: white;
}

#secondNav div span {
  vertical-align: bottom;
  /* font-size: 38px; */
  color: white;
}
#secondNav div button {
  background-color: transparent;
  border: none;
}

#secondNav div .arrow_drop_down {
  font-size: 38px;
}

#footer {
  background-color: #33353b;
  display: flex;
  justify-content: space-evenly;
  color: white;
}

#stickyFooter {
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 1;
}
#footerUl {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  align-items: center;
}
#footerUl li {
  list-style: none;
  color: white;
}
#divGetApp {
  /* margin-top: 30%; */
  display: flex;
  align-items: center;
}
#footerImg {
  margin-right: 10px;
}

#divGetApp p {
  margin-right: 20px;
}

#galleryDiv {
  display: grid;
  grid-template-columns: 240px 240px 240px 240px;
  gap: 10px;

  margin: auto;
  width: fit-content;
}
#galleryImage {
  width: 100%;
  /* max-height: 425px; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#galleryItemDiv {
  border-radius: 5px;
  /* box-shadow: rgba(251, 251, 251, 0.24) 0px 3px 8px; */
  background-color: #67686f;
}
#likeDiv {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
}
#likeDiv div {
  display: flex;
  align-items: center;
}

.material-icons-round {
  transform: rotate(270deg);
  color: rgb(192, 181, 181);
}
#galleryTitle {
  color: white;
  margin: 0px 10px;
}

#galleryItem {
  margin-top: 10px;
}
section {
  background-color: #2e3035;
}
#tagMaindiv {
  width: 90%;
  margin: auto;
}
